


.menu-container {
  height: 100%;
  width: 100%;
  position: absolute;
  background:rgba(255,255,255, 0.3);
  visibility: visible;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-container.hidden {
  visibility: hidden;
}

.game-title {
  font-family: sans-serif;
  text-align: center;
  font-size: 5vw;


  background-color: transparent;
  visibility: visible;
}

.game-title.hidden {
  visibility: hidden;
}

.start-button {
  font-family: sans-serif;
  font-size: 2vw;
  background-color: transparent;
  visibility: visiblse;
}
.start-button.hidden {
  visibility: hidden;
}


.score {
  font-family: sans-serif;
  font-size: 1vw;
  position: absolute;
  top: 5px;
  left: 20px;
  background-color: transparent
}

.score.high {
}

.score.current {
  left: 10vw;
}
