


.game-title {
  font-family: sans-serif;
  font-size: 5vw;
  position: absolute;
  top: 4vw;
  left: 33%;
  background-color: transparent;
  visibility: visible;
}

.game-title.hidden {
  visibility: hidden;
}

.start-button {
  font-family: sans-serif;
  font-size: 2vw;
  position: absolute;
  top: 50%;
  left: 40%;
  background-color: transparent;
  visibility: visiblse;
}
.start-button.hidden {
  visibility: hidden;
}
