


.menu-container {
  height: 100%;
  width: 100%;
  position: absolute;
  background:rgba(255,255,255, 0.5);
  visibility: visible;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.menu-container.hidden {
  visibility: hidden;
}

.game-title {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 5vw;


  background-color: transparent;
  visibility: visible;
}

.game-title.hidden {
  visibility: hidden;
}

.game-text {
  font-family: 'Bree Serif', serif;
  font-size: 2vw;
  width: 50vw;
  text-align: center;
  padding: 6vw;
}

.start-button {
  font-family: 'Bree Serif', serif;
  font-size: 1.5vw;
  background-color: transparent;
  visibility: visiblse;

  height: 80px;
  width: 80px;

  border-radius: 80px;

  border: none;

  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}

.start-button:focus {
  outline: none;
}
.start-button:hover {

  box-shadow: 1px 2px 4px rgba(0, 0, 0, .8);
}

.start-button.hidden {
  visibility: hidden;
}


.score {
  font-family: 'Bree Serif', serif;
  font-size: 1vw;
  position: absolute;
  top: 25px;
  left: 20px;
  background-color: transparent
}

.score.high {
}

.score.current {
  left: 10vw;
}


.audio {
  position: absolute;
  top: 25px;
  left: 90vw;
  z-index: 999;
}

.music-icon {
  position: absolute;
  top: 25px;
  left: 93vw;
  z-index: 999;
}
